前置作業

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)
import os
os.chdir("/content/gdrive/My Drive/latia/week3_030524/") # 切換目錄
!ls -l "/content/gdrive/My Drive/latia/week3_030524/" # 列出目錄下的檔案

Mounted at /content/gdrive/
total 91
-rw------- 1 root root 92484 Mar  5 06:18 112_student.csv

In [3]:
import pandas as pd

csv_file = './112_student.csv'

df = pd.read_csv(csv_file) # 讀取csv檔案
print(df.head())

#查看資料欄位資訊
print(df.info())

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None

1.共有幾名台師大學生

In [4]:
list = []
x = 0
df1 = df[['學校代碼','學校名稱','總計']]
df1_1 = df1[df1['學校代碼'] == 4]
print(df1_1)
for i in range(len(df1)):
  if df1['學校代碼'].get(i) == 4:
    list.append(df1['總計'].get(i))
for j in list:
  x += j
print(f"112大專院校統計中，台師大的學生共有{x}人")

    學校代碼      學校名稱    總計
13     4  國立臺灣師範大學  1337
14     4  國立臺灣師範大學  4384
15     4  國立臺灣師範大學  2272
16     4  國立臺灣師範大學  8503
112大專院校統計中，台師大的學生共有16496人

2.台師大男女比

In [12]:
list_boy = []
list_girl = []
boy = 0
girl = 0
df2 = df[['學校代碼','學校名稱','男生計','女生計']]
df2_2 = df2[df2['學校代碼'] == 4]
print(df2_2)
for i in range(len(df2)):
  if df2['學校代碼'].get(i) == 4:
    list_boy.append(df2['男生計'].get(i))
    list_girl.append(df2['女生計'].get(i))
for j in list_boy:
  boy += j
for k in list_girl:
  girl += k
print(f"112大專院校統計中，台師大的男生有{boy}個，女生有{girl}個")

    學校代碼      學校名稱   男生計   女生計
13     4  國立臺灣師範大學   630   707
14     4  國立臺灣師範大學  1878  2506
15     4  國立臺灣師範大學   680  1592
16     4  國立臺灣師範大學  3846  4657
112大專院校統計中，台師大的男生有7034個，女生有9462個

3.台北市有幾所大學

In [31]:
df3 = df[['學校名稱','縣市名稱']]
df3_1 = df3[df3['縣市名稱'] == '30 臺北市']
df3_2 = df3_1.drop_duplicates('學校名稱')
print(df3_2)
count = 0
for i in range(len(df3_2)):
  count += 1
print(f"112大專院校統計中，臺北市共有{count}所學校")

           學校名稱    縣市名稱
0        國立政治大學  30 臺北市
9        國立臺灣大學  30 臺北市
13     國立臺灣師範大學  30 臺北市
78     國立臺灣科技大學  30 臺北市
94     國立臺北科技大學  30 臺北市
101    國立臺北藝術大學  30 臺北市
147    國立臺北教育大學  30 臺北市
173  國立臺北護理健康大學  30 臺北市
206    國立臺北商業大學  30 臺北市
228    國立臺灣戲曲學院  30 臺北市
246        東吳大學  30 臺北市
260      中國文化大學  30 臺北市
305        世新大學  30 臺北市
310        銘傳大學  30 臺北市
314        實踐大學  30 臺北市
339        大同大學  30 臺北市
377      臺北醫學大學  30 臺北市
490      中國科技大學  30 臺北市
556    德明財經科技大學  30 臺北市
574      中華科技大學  30 臺北市
621    臺北城市科技大學  30 臺北市
666        康寧大學  30 臺北市
740  馬偕醫護管理專科學校  30 臺北市
760      臺北市立大學  30 臺北市
112大專院校統計中，臺北市共有24所學校